<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/inicio']">
      <img src="./assets/img/SECE/logo_transparent.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="col-6 collapse-brand">
          <a [routerLink]="['/inicio']">
            <img src="./assets/img/SECE/logo_transparent.png">
          </a>
        </div>
        <div class="col-6 collapse-close">
          <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

  </div>
  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
    <li class="nav-item d-lg-none">
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" *ngIf="checkAdminPermission()">
        <i class="ni ni-single-02 d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none"  [routerLink]="['/gestor-administrativo']">Gestor Administrativo</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" *ngIf="checkClinicPermission()">
        <i class="ni ni-circle-08 d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none"  [routerLink]="['/gestor-clinico']">Gestor Clínico</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" *ngIf="checkAccessPermission()">
        <i class="ni ni-support-16 d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none"  [routerLink]="['/gestor-acceso']">Gestor Acceso</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="checkAdminPermission()">
      <a class="nav-link no-caret">
        <span class="nav-link-inner--text d-none d-lg-block"  [routerLink]="['/gestor-administrativo']">Gestor Administrativo</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="checkClinicPermission()">
      <a class="nav-link no-caret">
        <span class="nav-link-inner--text d-none d-lg-block"  [routerLink]="['/gestor-clinico']">Gestor Clínico</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="checkAccessPermission()">
      <a class="nav-link no-caret">
        <span class="nav-link-inner--text d-none d-lg-block"  [routerLink]="['/gestor-acceso']">Gestor Acceso</span>
      </a>
  </li>
</ul>
<ul class="navbar-nav ml-lg-auto">
  <li class="nav-item">
    <a class="nav-link nav-link-icon" href="javascript:void(0)">
      <span class="nav-link-inner--text d-none d-lg-block">{{currentUser.SiteName}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-link-icon" href="javascript:void(0)">
      <i class="ni ni-button-power" data-toggle="tooltip" data-placement="top" (click)="logout()" title="Salir"></i>
      <span class="nav-link-inner--text d-lg-none" (click)="logout()">Salir</span>
    </a>
  </li>
</ul>
</div>
</div>
</nav>
<!-- END NAVIGATION -->
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg">
              <h1 class="text-white" style="text-align:center">¡Bienvenido {{currentUser.username}}!</h1>
              <p class="lead  text-white">
                <b>Sistema de Expediente Clínico Electrónico"</b> Sistema digital para administración de nosocomios
              </p>
            </div>
          </div>
</div>
</div>
<!-- SVG separator -->
<div class="separator separator-bottom separator-skew">
  <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div>
</section>
<!-- 1st Hero Variation -->
</div>
</main>
<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-sm" *ngIf="checkClinicPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Clínico</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-clinico']" title="Gestor Clínico">
            <img src="./assets/img/SECE/gestor_clinico.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAdminPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Administrativo</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-administrativo']" title="Gestor Administrativo">
            <img src="./assets/img/SECE/gestor_administrativo.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAccessPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor de Accesos</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-acceso']" title="Gestor de Acceso">
            <img src="./assets/img/SECE/gestor_acceso.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-9">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-3 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.linkedin.com/in/inavarretemorales/" target="_blank">Isaac Navarrete Morales</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
