<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/inicio']">
      <img src="./assets/img/SECE/logo_transparent.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="col-6 collapse-brand">
          <a [routerLink]="['/inicio']">
            <img src="./assets/img/SECE/logo_transparent.png">
          </a>
        </div>
        <div class="col-6 collapse-close">
          <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

  </div>
  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
    <li class="nav-item d-lg-none">
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/consulta']">
        <i class="ni ni-sound-wave d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Consulta</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/hospitalizacion']">
        <i class="ni ni-ambulance d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Hospitalización</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/urgencias']">
        <i class="ni ni-ambulance d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Urgencias</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/farmacia']">
        <i class="ni ni-support-16 d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Farmacia</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/laboratorio']">
        <i class="ni ni-box-2 d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Laboratorio</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/imagenologia']">
        <i class="ni ni-laptop d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Imagenología</span>
      </a>
      <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/clinica/quirofano']">
        <i class="ni ni-scissors d-lg-none"></i>
        <span class="nav-link-inner--text d-lg-none">Quirófano</span>
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link no-caret" data-toggle="dropdown" role="button">
        <span class="nav-link-inner--text d-none d-lg-block">Acciones</span>
      </a>
      <div class="dropdown-menu">
        <a [routerLink]="['/clinica/consulta']" class="dropdown-item">Consulta Externa</a>
        <a [routerLink]="['/clinica/hospitalizacion']" class="dropdown-item">Hospitalización</a>
        <a [routerLink]="['/clinica/urgencias']" class="dropdown-item">Urgencias</a>
        <a [routerLink]="['/clinica/farmacia']" class="dropdown-item">Farmacia</a>
        <a [routerLink]="['/clinica/laboratorio']" class="dropdown-item">Laboratorio</a>
        <a [routerLink]="['/clinica/imagenologia']" class="dropdown-item">Imagenología</a>
        <a [routerLink]="['/clinica/quirofano']" class="dropdown-item">Quirófano</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-lg-auto">
    <li class="nav-item">
      <a class="nav-link nav-link-icon" href="javascript:void(0)">
        <span class="nav-link-inner--text d-none d-lg-block">{{currentUser.username}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-icon" href="javascript:void(0)">
        <i class="ni ni-button-power" data-toggle="tooltip" data-placement="top" (click)="logout()" title="Salir"></i>
        <span class="nav-link-inner--text d-lg-none" (click)="logout()">Salir</span>
      </a>
    </li>
  </ul>
</div>
</div>
</nav>


<!-- END NAV BAR -->
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg" style="background-color: #e8ecfc;">
              <!-- FORM -->
              <h2>Registro de Hospitalización</h2>
              <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                <div class="row">

                  <div class="col-xs-6 form-group">
                    <label for="Patient_strFirstName">Nombre</label>
                    <input type="text" formControlName="Patient_strFirstName" placeholder="Nombre" required>
                    <div class="form-control-feedback"
                    *ngIf="Patient_strFirstName.errors && (Patient_strFirstName.dirty || Patient_strFirstName.touched)">
                    <p *ngIf="Patient_strFirstName.errors.required" style="color:red">El nombre es requerido</p>
                  </div>
                </div>
                <div class="col-xs-6 form-group">
                  <label for="Patient_strLastName">Apellidos</label>
                  <input type="text" formControlName="Patient_strLastName" placeholder="Apellidos" required>
                  <div class="form-control-feedback"
                  *ngIf="Patient_strLastName.errors && (Patient_strLastName.dirty || Patient_strLastName.touched)">
                  <p *ngIf="Patient_strLastName.errors.required" style="color:red">Apellidos requeridos</p>
                </div>
              </div>
              <div class="col-xs-6 form-group">
                <label for="Patient_strBirthDate">Fecha de Nacimiento</label>
                <input type="date" formControlName="Patient_strBirthDate" value="2020-02-14" required>
                <div class="form-control-feedback"
                *ngIf="Patient_strBirthDate.errors && (Patient_strBirthDate.dirty || Patient_strBirthDate.touched)">
                <p *ngIf="Patient_strBirthDate.errors.required" style="color:red">Fecha de nacimiento es requerida</p>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-xs-6 form-group">
              <label for="Patient_strSex">SEXO (H/M)</label>
              <input type="text" formControlName="Patient_strSex" placeholder="H" required>
              <div class="form-control-feedback"
              *ngIf="Patient_strSex.errors && (Patient_strSex.dirty || Patient_strSex.touched)">
              <p *ngIf="Patient_strSex.errors.required" style="color:red">El Sexo es requerido</p>
            </div>
          </div>
          <div class="col-xs-6 form-group">
            <label for="Patient_strPhone">Teléfono</label>
            <input type="text" formControlName="Patient_strPhone" placeholder="4433576396" required>
            <div class="form-control-feedback"
            *ngIf="Patient_strPhone.errors && (Patient_strPhone.dirty || Patient_strPhone.touched)">
            <p *ngIf="Patient_strPhone.errors.required" style="color:red">Teléfono es requerido</p>
          </div>
        </div>
        <div class="col-xs-6 form-group">
          <label for="Patient_strEmail">Email</label>
          <input type="text" formControlName="Patient_strEmail" placeholder="juan@doe.com" required>
          <!-- <div class="form-control-feedback"
          *ngIf="Patient_strEmail.errors && (Patient_strEmail.dirty || Patient_strEmail.touched)">
          <p *ngIf="Patient_strEmail.errors.required" style="color:red">Fecha de nacimiento es requerida</p>
        </div> -->
      </div>
    </div>
    <div class="row">

      <div class="col-xs-6 form-group">
        <label for="Patient_strSocialSecurity">Número de Seguro Social</label>
        <input type="text" formControlName="Patient_strSocialSecurity" placeholder="5554477488" required>
        <!-- <div class="form-control-feedback"
        *ngIf="Patient_strSocialSecurity.errors && (Patient_strSocialSecurity.dirty || Patient_strSocialSecurity.touched)">
        <p *ngIf="Patient_strSocialSecurity.errors.required" style="color:red">El Sexo es requerido</p>
      </div> -->
    </div>
    <div class="col-xs-6 form-group">
      <label for="Patient_strAddr">Dirección</label>
      <input type="text" formControlName="Patient_strAddr" placeholder="Loma de enmedio 128" required>
      <div class="form-control-feedback"
      *ngIf="Patient_strAddr.errors && (Patient_strAddr.dirty || Patient_strAddr.touched)">
      <p *ngIf="Patient_strAddr.errors.required" style="color:red">Teléfono es requerido</p>
    </div>
  </div>
  <div class="col-xs-6 form-group">
    <label for="Patient_strAddr1">Dirección 2</label>
    <input type="text" formControlName="Patient_strAddr1" placeholder="Fracc Bonanza" required>
    <!-- <div class="form-control-feedback"
    *ngIf="Patient_strAddr1.errors && (Patient_strAddr1.dirty || Patient_strAddr1.touched)">
    <p *ngIf="Patient_strAddr1.errors.required" style="color:red">Fecha de nacimiento es requerida</p>
  </div> -->
</div>
</div>
<div class="row">
  <div class="col-xs-6 form-group">
    <label for="Patient_strState">Estado</label>
    <input type="text" formControlName="Patient_strState" placeholder="Michoacán" required>
    <div class="form-control-feedback"
    *ngIf="Patient_strState.errors && (Patient_strState.dirty || Patient_strState.touched)">
    <p *ngIf="Patient_strState.errors.required" style="color:red">Teléfono es requerido</p>
  </div>
</div>
<div class="col-xs-6 form-group">
  <label for="Patient_strZip">Código Postal</label>
  <input type="text" formControlName="Patient_strZip" placeholder="75254" required>
  <!-- <div class="form-control-feedback"
  *ngIf="Patient_strZip.errors && (Patient_strZip.dirty || Patient_strZip.touched)">
  <p *ngIf="Patient_strZip.errors.required" style="color:red">El Sexo es requerido</p>
</div> -->
</div>
<div class="col-xs-6 form-group">
  <label for="Patient_strCountry">País</label>
  <select formControlName="Patient_strCountry">
    <option value="">Selecciona un país</option>
    <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
  </select>
  <div class="form-control-feedback"
  *ngIf="Patient_strCountry.errors && (Patient_strCountry.dirty || Patient_strCountry.touched)">
  <p *ngIf="Patient_strCountry.errors.required" style="color:red">Fecha de nacimiento es requerida</p>
</div>
</div>
<!-- <div class="col-xs-6 form-group">
<label for="Patient_strCountry">País</label>
<input type="text" formControlName="Patient_strCountry" placeholder="México" required>
<div class="form-control-feedback"
*ngIf="Patient_strCountry.errors && (Patient_strCountry.dirty || Patient_strCountry.touched)">
<p *ngIf="Patient_strCountry.errors.required" style="color:red">Fecha de nacimiento es requerida</p>
</div>
</div> -->
</div>
<div class="row">
  <div class="col-lg-6 form-group">
    <label for="Patient_strDiagnosis">Diagnóstico</label>
    <input type="text" formControlName="Patient_strDiagnosis" placeholder="Diagnóstico" required>
    <div class="form-control-feedback"
    *ngIf="Patient_strDiagnosis.errors && (Patient_strDiagnosis.dirty || Patient_strDiagnosis.touched)">
    <p *ngIf="Patient_strDiagnosis.errors.required" style="color:red">El diagnóstico es requerido</p>
  </div>
</div>
</div>
<div class="row justify-content-end sm-margin-top">
  <div class="col-12 col-lg-5">
    <input [disabled]="!patientForm.valid" type = "submit" value = "ENVIAR">
  </div>
</div>
</form>
<!-- END FORM -->
</div>
</div>
</div>
</div>
<!-- SVG separator -->
<div class="separator separator-bottom separator-skew">
  <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
  </svg>
</div>
</section>
<!-- 1st Hero Variation -->
</div>
</main>
<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-sm" *ngIf="checkClinicPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Clínico</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-clinico']" title="Gestor Clínico">
            <img src="./assets/img/SECE/gestor_clinico.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAdminPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Administrativo</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-administrativo']" title="Gestor Administrativo">
            <img src="./assets/img/SECE/gestor_administrativo.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAccessPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor de Accesos</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-acceso']" title="Gestor de Acceso">
            <img src="./assets/img/SECE/gestor_acceso.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-9">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-3 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/IsaacSNB" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.linkedin.com/in/inavarretemorales/" target="_blank">Isaac Navarrete Morales</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
