.fit{
    width: inherit;
}
.no-padding{
    padding: 0;
}
.padding-left{
    padding-left: 4%;
    padding-right: 0;
}
.hidden{
    width: inherit;
    visibility: hidden;
}
h1{
    color: #00aa87;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.25em;
}
input[type=text], textarea{
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #00aa87;
    margin-bottom: 15px;
    padding-left: 10px;
}
label{
    color: #464646;
    margin: 0;
}
input[type=submit]{
    width: 100%;
    color: white;
    background-color: #00aa87;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 0.25em;
    font-weight: 900;
}
.horizontal-line{
    background-color: #c89137;
    padding-top: 1px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50px;
}
.small{
    margin-bottom: 20px;
}
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
.empty-space{
    padding-top: 40px;
}
.c-00aa87{
    background-color: #00aa87;
}
.c-006455{
    background-color: #006455;
}
span{
    color: #464646;
}
.title{
    font-size: x-large;
}
.bold{
    font-weight: bold;
}
a,span{
    text-decoration: none !important;
}
.map{
    letter-spacing: 0.1em;
    font-size: 14px;
}
.no-margin{
    margin: 0;
}
.sm-margin-top{
    margin-top: 20px;
}
