<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/inicio']">
      <img src="./assets/img/SECE/logo_transparent.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/inicio']">
              <img src="./assets/img/SECE/logo_transparent.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item d-lg-none">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/roles']">
            <i class="ni ni-single-02 d-lg-none"></i>
            <span class="nav-link-inner--text d-lg-none">Roles y Perfiles</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/users']">
            <i class="ni ni-circle-08 d-lg-none"></i>
            <span class="nav-link-inner--text d-lg-none">Usuarios</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/diagnosis']">
            <i class="ni ni-support-16 d-lg-none"></i>
            <span class="nav-link-inner--text d-lg-none">Diagnósticos</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/config']">
            <i class="ni ni-settings d-lg-none"></i>
            <span class="nav-link-inner--text d-lg-none">Configuración</span>
          </a>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" [routerLink]="['/catalog']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text d-lg-none">Catálogo</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">

            <span class="nav-link-inner--text d-none d-lg-block">Acciones</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/roles']" class="dropdown-item">Roles y Perfiles</a>
            <a [routerLink]="['/users']" class="dropdown-item">Usuarios</a>
            <a [routerLink]="['/diagnosis']" class="dropdown-item">Diagnósticos</a>
            <a [routerLink]="['/config']" class="dropdown-item">Configuración</a>
            <a [routerLink]="['/catalog']" class="dropdown-item">Catálogo</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="javascript:void(0)">
              <span class="nav-link-inner--text d-none d-lg-block">{{username}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="javascript:void(0)">
              <i class="ni ni-button-power" data-toggle="tooltip" data-placement="top" (click)="logout()" title="Salir"></i>
              <span class="nav-link-inner--text d-lg-none" (click)="logout()">Salir</span>
            </a>
          </li>
        </ul>
    </div>
  </div>
</nav>


<!-- END NAV BAR -->
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg">
              <h1 class="text-white" style="text-align:center">Gestor de Roles</h1>
                <p class="lead  text-white" style="text-align:center">Configuración de roles y perfiles de usuarios</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  </main>
