<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-sm" *ngIf="checkClinicPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Clínico</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-clinico']" title="Gestor Clínico">
            <img src="./assets/img/SECE/gestor_clinico.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAdminPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor Administrativo</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-administrativo']" title="Gestor Administrativo">
            <img src="./assets/img/SECE/gestor_administrativo.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-sm" *ngIf="checkAccessPermission()">
        <div class="text-black">
          <p class="lead" style="text-align:center">Gestor de Accesos</p>
        </div>
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/gestor-acceso']" title="Gestor de Acceso">
            <img src="./assets/img/SECE/gestor_acceso.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-9">
        <h3 class="text-primary font-weight-light mb-2">¡Gracias por utilizar SECE!</h3>
        <h4 class="mb-0 font-weight-light">Contacta al desarrollador en las siguientes plataformas.</h4>
      </div>
      <div class="col-lg-3 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.linkedin.com/in/inavarretemorales/" target="_blank">Isaac Navarrete Morales</a>.
        </div>
      </div>
      <!-- <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com?ref=adsa-footer" class="nav-link" target="_blank">Isaac Navarrete Morales</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation?ref=adsa-footer" class="nav-link" target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="http://blog.creative-tim.com?ref=adsa-footer" class="nav-link" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/creativetimofficial/argon-design-system-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>
